@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background: #060d50;
}

.container {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #13cbd1;
    border-radius: 32px;
    width: 350px;
}

#reloj {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #13cbd1;
}

#fecha {
    color: #13cbd1;
    text-align: center;
    padding: 20px;
}