@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

body {
    font-family: 'Fraunces', serif;
    font-size: 1.3em;
    background: #13cbd1;
}

.container {
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reloj {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}